body {
    max-width: 100vh;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
    border-bottom: 10px solid #646cff;
    border-radius: 50%;
  }
  li {
    list-style-type: none;
  }
  
  input[type="text"] {
    width: 60%;
    height: 30px;
    text-align: center;
    background: transparent;
    border: none;
    top: 10px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid #646cff;
    outline: none;
  }
  
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .label-wrapper {
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .btn--primary {
    border-radius: 8px;
    margin-left: 8px;
    border: 1px solid;
    padding: 0.4em;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .btn--primary:hover {
    border: 1px solid #646464;
  }
  .todo--form {
    border: 3px double #646cff;
    padding: 10px;
  }
  .filters-btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .toggle-btn {
    margin-left: 8px;
    font-weight: 800;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 0.8em;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .toggle-btn:hover {
    border: 2px solid #646464;
    background-color: #242424;
  }
  
  #list-heading {
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #646cff;
    border-top: 1px solid #646cff;
  }
  
  .todo-list {
    border: 1px solid #646cff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
  }
  
  .stack-small {
    width: 85vh;
    display: flex;
    gap: 10px;
    font-size: 18px;
  }
  .todo-input-btn {
    margin-left: 8px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-weight: 200;
    background-color: #646464;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .todo-input-btn:hover {
    background-color: #646cff;
  }
  
  .me{
    color: #1a1a1a;
  }
  .me:hover{
    color:thistle;
    transition-delay: 1ms;
  }
  a{
    text-decoration: none;
    color: #646464;
    position: relative;
    top: 80px;
  }
  a:hover{
    color: #a5a6bf;
  }
  .github{
    width: 50px;
  }
  .github:hover{
    opacity: 0.8;
    transition-duration: 100ms;
  }